@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    text-align: justify;
}

ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin: 0 0 .5rem 2rem;
    padding: .5rem;
}

nav ul li a{
    margin-left: 20px;
    padding: .5rem;
}

a{
    text-decoration: none;
    color: #000;
    font-family: Arial;
}

h4{
    font-size: .8rem;
}

body{
    font-family: "fira sans";
}

/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 5rem;
    margin-bottom: 5rem;
}

.perfil{
    width: 400px;
    border-radius: 50%;
}


/*INTRO*/
.container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;


}


/*INTRO TXTs*/
div.texto-intro{
    font-size: 2rem;
    margin-top: 4rem;
    width: 500px;
}

.texto-intro p{
    opacity: .7;
}


/*EXPERIÊNCIA*/

.container-experiencia{
    display: flex;
    padding: 2rem 10rem;
}


.container-cards-experiencia{
    display: grid;
    grid-template-columns: 1fr ;
}

.card-experiencia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 2rem;
    background: #CCCCCC;
    border-radius: 5px;
    padding: 1rem;


}

.card-container{
    display: grid;
    gap: 2rem;
}

.card-container li{
    display: inline-block;
    margin-right: 2rem;
    line-height: 1.9;
}

.card-experiencia ul{
    display: flex;
    justify-content: flex-end;
}

.card-container img{
    height: 30px;
    width: 30px;
}




/*EXPERIÊNCIA TXTs*/
div.titulo-experiencia{
    display: block;
    width: 350px;
    word-wrap: break-word;
    font-weight: 900;
    font-size: 6em;
    opacity: .3;

}

.card-experiencia .title-languages{
    text-align: right;
}


/*FORMACAO*/
section.container-formacao{
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
    margin-top: 10px;
    background: #141414;
}

.formacoes{
    display: grid;
    grid-template-rows: 120px 200px 80px 80px;
    align-items: center;
}

.formacoes .cards{
    display: flex;
    justify-content: space-evenly;

}

.card-formacao{
    width: 260px;
    height: 140px;
    background: #000000;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;

}

/*FORMACAO TXTs*/

.titulo-formacao{
    width: 300px;
    word-wrap: break-word;
}

.titulo-formacao h1{
    text-align: left;
    font-weight: 900;
    font-size: 7em;
    color: #000;
}

.formacoes > p{
    width: 400px;
    color: #fff;
}

.formacoes  p{
    color: #fff;
}

span{
    opacity: .5;
}


/*FOOTER*/
footer{
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    background: #5f5f5f;
}


footer p{
    color: #fff;
    width: 400px;
}

.contato li{
    display: block;
    font-weight: 900;
    font-size: 1.5rem;
    color: #fff;
}

